{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

<div class="container">
    <div class="jumbotron">
        <h1>Videos of Chelsea</h1>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            {% for video in videos %}
            <iframe width="720" height="480"
                src="{{ video.VideoUrl }}">
            </iframe>
            {% endfor %}
        </div>
    </div>
</div>